<div class="eight columns">
  <% articles.each do |article| %>
    <%= link_to article_path(article.id), :action => 'go', class: 'link-to-text-color' do %>
    <card class="article-card">
      <h4><%= article.title %></h4>
      <%# <% if article.banner_image_url? %>
        <%# <%= image_tag article.banner_image_url.url %>
      <%# <% else %>
        <img src="http://via.placeholder.com/540x300">
      <%# <% end %>
      <div class="row">
        <div class="eight columns">
          <p class="major-info"><%= article.created_at.strftime('%Y/%m/%d %H:%M') %></p>
        </div>
      </div>
    </card>
    <% end %>
  <% end %>
  <%= paginate articles %>
</div>