<!DOCTYPE html>
<html>
  <head>
    <title>Keita's Tech Blog</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('keita-icon.png') %>
  </head>

  <body>
    <p class="alert"><%= alert %></p>
    <header id="page-header">
      <div class="container">
        <div class="row">
          <div class="four columns">
            <%= link_to root_path do %>
              <%= image_tag 'keita_logo_56.png', id: 'keita-logo' %>
            <% end %>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <% flash.each do |type, message| %>
            <%= content_tag :div, message, class: "message message-#{type}" %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
  <footer id="page-footer">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <%= image_tag 'keita_icon_96.png', id: 'keita-icon' %>
          Copyright (c) Keita Iwasaki All Rights Reserved.
        </div>
      </div>
    </div>
  </footer>
</html>
